@use "../../sass/" as *;
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.cart-dialog {
  border: none;
  border-radius: 3px;
  margin: 0 auto;
  width: 310px;
  top: 75px;
  & .__cart {
    position: fixed;
    transform: translateY(-91px) translateX(250px);
  }
}
.cart-sum {
  @include setDisplayFlex();
  background-color: $airbean-orange;
  font-family: $text-font;
  color: $airbean-white;
  height: 1.2rem;
  aspect-ratio: 1/1;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 50%;
  position: fixed;
  transform: translateX(100%) translateY(-120%);
  &.__absolute {
    position: absolute;
  }
}
.cart-wrapper {
  @include setColorAndFont(
    $airbean-white,
    $airbean-brown,
    $heading-font,
    $text-font
  );
  @include setDisplayFlex();
  gap: 2rem;
}
.cart-heading {
  font-size: 2rem;
}
.tag-up {
  position: fixed;

  transform: translateY(-28px) translateX(280px);
}
.cart-btn {
  @include setButtonStyle($airbean-brown, $airbean-white, $heading-font);
  padding: 0.7rem 2rem 0.7rem;
}
.cartitem-container-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  & h2 {
    text-wrap: nowrap;
    margin: 0;
  }
}

.cartitem-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  justify-content: center;
  margin-left: 1rem;
  & .__total {
    width: 300px;
  }
}

.small-info-text {
  font-size: 12px;
  margin: 0;
}
.dots {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
  width: -webkit-fill-available;
  align-self: flex-end;
}
.__sum {
  margin-left: 1rem;
}
.qnty {
  margin-bottom: -5px;
}
.change-cart-qnty {
  margin: 0;
  text-align: center;
}
