@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rufina:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
//Colors
$airbean-orange: rgba(229, 103, 78, 1);
$airbean-brown: rgba(47, 41, 38, 1);
$airbean-green: rgba(56, 132, 109, 1);
$airbean-pink: rgba(243, 228, 225, 1);
$airbean-darkgreen: rgba(14, 146, 125, 1);
$airbean-white: rgba(255, 255, 255, 1);
//Fonts
$heading-font-landing: "Rufina", serif;
$heading-font: "PT Serif", serif;
$text-font: "Work Sans", sans-serif;
