@use "../sass/" as *;

.landing-wrapper {
  @include setColorAndFont(
    $airbean-green,
    $airbean-white,
    $heading-font-landing,
    $text-font
  );

  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-wrapper {
  min-width: 250px;
  z-index: 2;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.airbean-logo-wrapper {
  height: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.1);
}
.landing-heading {
  font-size: 2.7rem;
  margin: 0;
}
.landing-text {
  font-size: 0.5rem;
  letter-spacing: 3px;
}

.leaf-l,
.leaf-r {
  background-color: $airbean-green;
}
.leaf-l {
  margin-right: -6rem;
}
.leaf-r {
  margin-left: -5rem;
}
