@use "../sass/" as *;

.menu-wrapper {
  @include setColorAndFont(
    $airbean-pink,
    $airbean-brown,
    $heading-font,
    $text-font
  );
  margin: 0 auto;
}
.menu {
  text-align: center;
  @include setDisplayFlex();
  gap: 2rem;
  padding: 1.5rem;
  min-height: 300px;
}
.item-container-wrapper {
  display: flex;
  gap: 1rem;
  & h2 {
    margin: 0;
    font-size: 1.3rem;
  }
}
.item-info-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: $airbean-white;
  background-color: $airbean-brown;
}

.item-info {
  letter-spacing: normal;
  font-size: 0.8rem;
  margin: 0;
}
