@use "../sass/" as *;

.menu-wrapper {
  @include setColorAndFont(
    $airbean-pink,
    $airbean-brown,
    $heading-font,
    $text-font
  );
  margin: 0 auto;
}
.menu {
  @include setDisplayFlex();
  gap: 2rem;
  padding: 1.5rem;
  min-height: 300px;
}
.item-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & h2 {
    margin: 0;
    font-size: 1.3rem;
    text-wrap: nowrap;
  }
  & .item-info {
    letter-spacing: normal;
    font-size: 0.8rem;
    margin-left: 2.5rem;
  }
}
.dots {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
  width: -webkit-fill-available;
  align-self: flex-end;
}
.item-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  justify-content: center;
  margin-left: 1rem;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: $airbean-white;
  background-color: $airbean-brown;
  cursor: pointer;
}
